.button {
  color: #fff;
  background: #0f6eff;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #0f6ffff3;
}
